<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="2024031119"
    android:versionName="20240311-1942">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission..ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.hzbhd.canbus.comm.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/canbus_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">

        <activity
            android:name="com.hzbhd.canbus.media.aux2.activity.Aux2Activity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/_451_ampl_icon"
            android:label="@string/_451_car_app_name"
            android:launchMode="singleTask"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.hzbhd.canbus.service.TestCanBusService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.hzbhd.canbus.activity.CanBusDiagnosisActivity"
            android:exported="false" />
        <activity
            android:name="com.hzbhd.canbus.activity.TestCanBusActivity"
            android:exported="false" />

        <meta-data
            android:name="hzbhdApp"
            android:value="true" />

        <activity
            android:name="com.hzbhd.canbus.activity.FrontCameraSettingActivity"
            android:exported="false" />
        <activity
            android:name="com.hzbhd.canbus.activity.MainActivity"
            android:exported="true"
            android:label="@string/canbus_app_name"
            android:launchMode="singleTask"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hzbhd.canbus.activity.SelectCanTypeActivity"
            android:exported="true"
            android:label="@string/select_cantype"
            android:launchMode="singleInstance"
            android:resizeableActivity="false" />
        <activity
            android:name="com.hzbhd.canbus.activity.SelectIdActivity"
            android:exported="true"
            android:label="@string/select_id" />
        <activity
            android:name="com.hzbhd.canbus.activity.TestActivity"
            android:exported="true"
            android:label="@string/function_test" />
        <activity
            android:name="com.hzbhd.canbus.activity.OnStarActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/on_start"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.hzbhd.canbus.activity.AirActivity"
            android:exported="true"
            android:label="@string/air_setting"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.hzbhd.canbus.activity.WarningActivity"
            android:exported="true"
            android:label="@string/warning_msg"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hzbhd.canbus.activity.OriginalCarDeviceActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/original_car_device"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.hzbhd.canbus.activity.SettingActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/car_setting"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hzbhd.canbus.activity.DriveDataActivity"
            android:exported="true"
            android:label="@string/drive_data"
            android:launchMode="singleTask" />

        <activity
            android:name="com.hzbhd.canbus.activity.TirePressureActivity"
            android:exported="true"
            android:label="@string/tire_data"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hzbhd.canbus.activity.UPDProgressActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hzbhd.canbus.activity.HybirdActivity"
            android:exported="true"
            android:label="@string/hybird"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hzbhd.canbus.activity.AmplifierActivity"
            android:exported="true"
            android:label="@string/amplifier_setting"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hzbhd.canbus.activity.SyncActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/sync"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.hzbhd.canbus.activity.PanelKeyActivity"
            android:exported="true"
            android:label="@string/panel_key"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hzbhd.canbus.activity.SmartPowerActivity"
            android:exported="true"
            android:label="@string/_283_smart_power"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:theme="@style/BaseTheme" />
        <activity
            android:name="com.hzbhd.canbus.activity.FactoryActivity"
            android:exported="true"
            android:label="@string/general_setting"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hzbhd.canbus.activity.SwcActivity"
            android:exported="true"
            android:label="@string/swc"
            android:launchMode="singleTask" />

        <service
            android:name="com.hzbhd.canbus.CanbusMsgService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hzbhd.intent.action.canbus" />
            </intent-filter>
        </service>
        <service
            android:name="com.hzbhd.canbus.park.BackCameraUiService"
            android:enabled="true"
            android:exported="true" />


        <activity
            android:name="com.hzbhd.canbus.car_cus._277.activity.VehicleDiagnosisActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_diagnosis"
            android:label="@string/geely_e6_diagnosis_title"
            android:launchMode="singleInstance"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hzbhd.canbus.car_cus._277.activity.VehicleMonitorActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_monitoring"
            android:label="@string/geely_e6_monitor_title"
            android:launchMode="singleInstance"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hzbhd.canbus.car_cus._277.activity.EnergyFeedbackActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_energy"
            android:label="@string/geely_e6_energy_title"
            android:launchMode="singleInstance"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.hzbhd.canbus.androidx-startup"
            android:exported="false"
            tools:replace="android:authorities">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>